git+https://github.com/Rapptz/discord.py@3f06f247c039a23948e7bb0014ea31db533b4ba2
git+https://github.com/Devoxin/Lavalink.py@dev
asyncio
pyyaml
BeautifulSoup4
aiohttp<3.5.0,>=3.3.0
spotipy
google-api-python-client
